#DATABASE
DATABASE_URL=postgres://your_username:your_password@your_neon_host.neon.tech/your_database_name?sslmode=require
DB_DIALECT=postgres
DB_SSL=true
DB_LOGGING=false

#SERVER
PORT='your_port'
JWT_SECRET='your_jwt_secret'
FRONT_URL='your_frontend_url'
